   @keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
    }
    @keyframes floating1 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, -15px); }
    to   { transform: translate(0, -0px); }    
    }
    .three-images img{
        position: relative;
        top:3rem;
        transition: width 1s, height 1s, top 1s, left 1s;
        float:left;
    }
    .left-img{
        width:15%;
        opacity: 0.7;
        animation-name: floating1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .right-img{
        width:15%;
        opacity: 0.7;
        animation-name: floating1;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .middle-img{
        width:48%;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        box-shadow: 10px 0px 5px grey;
        border-radius: 1rem;
    }


    .cid-qZAxRqq0kj P {
    text-align: left!important;
}